body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
}

.container {
  font-size: 28px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;
  top: 90px;
}

.loginForm {
  border: 3px solid rgb(232, 119, 34);
  box-sizing: border-box;
  width: 100%;
  width: 400px;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
}

.inputField {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #f39120;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #fffefe;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 8px;
  background: #e87722;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.optummm {
  position: relative;
  bottom: -20px;
  left: 50px;
  align-items: center;
}

.optummmlogin {
  position: relative;
  bottom: -10px;
  left: 70px;
  align-items: center;
  width: 180px;
}

.Welcome {
  position: relative;
  right: -40px;
  bottom: 2px;
  font-size: 25px;
  color: white;
  font-family: auto;
}

.logoutbutton {
  background: white;
  color: rgb(85, 86, 90);
  position: relative;
  text-align: center;
  left: 1080px;
  bottom: 5px;
  min-width: 70px;
  width: 5%;
  font-size: 10px;
  border-radius: 4px;
  padding: 3px 5px;
  text-align: center;
  cursor:pointer;
}
.logout:hover {
  background-color: #e87722;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.logout:active {
  background-color: #e87722;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.col {
  position: relative;
  top: -20px;
  left: 80px;
  float: left;
  width: 19%;
  padding: 2px;
  box-sizing: content-box;
}

.comm {
  background: rgb(208,208,206);
  color: rgb(85,86,90);
  list-style-type: none;
 
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.comm:hover,
.comm {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.comm .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
  text-align: center;
}

.comm .header.header-green {
  background-color: rgb(255, 255, 254);
}

.comm li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 11px;
}

.comm .MRKPI {
  background-color:white;
  font-size: 14px;
  color: rgb(73, 74, 77);
  text-align: center;
}

@media (max-width: 500px) {
  .col {
    width: 100%;
  }
}

.mark {
  background: rgb(208,208,206);
  color: rgb(85,86,90);
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.mark:hover,
.mark {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.mark .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
  text-align: center;
}

.mark .header.header-green {
  background-color: rgb(255, 255, 254);
}

.mark li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 11px;
}

.mark .MRKPI {
  background-color:white;
  font-size: 13px;
  color: rgb(85,86,90);
  text-align: center;
  word-wrap: break-word;
}

.effi {
  background: rgb(208,208,206);
  color: rgb(85,86,90);
  list-style-type: none;
 
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.effi:hover,
.effi {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.effi .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
  text-align: center;
}

.effi .header.header-green {
  background-color: rgb(255, 255, 254);
}

.effi li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 11px;
}

.effi .MRKPI {
  background-color:white;
  font-size: 13px;
  color: rgb(85,86,90);
  text-align: center;
}

.cust {
  background: rgb(208,208,206);
  color: rgb(85,86,90);
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.cust:hover,
.cust {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.cust .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
  text-align: center;
}

.cust .header.header-green {
  background-color: rgb(255, 255, 254);
}

.cust li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 11px;
}

.cust .MRKPI {
  background-color:white;
  font-size: 13px;
  color: rgb(85,86,90);
  text-align: center;
}

.futu {
  background: rgb(208,208,206);
  color: rgb(85,86.,90);
  list-style-type: none;
  
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.futu:hover,
.futu {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.futu .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
  text-align: center;
}

.futu .header.header-green {
  background-color: rgb(255, 255, 254);
}

.futu li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: left;
  font-size: 11px;
}

.futu .MRKPI {
  background-color:white;
  font-size:  13px;
  color: rgb(85,86,90);
  text-align: center;
}

.viewby {
  position: relative;
  left: 125px;
  bottom: -25px;
  padding: 15px;
  cursor:pointer;
  border: 3px solid rgb(85,86,90);
  width: 200px;
  height: 70px;
  background-color: white;
}
.viewbytext{
  position: relative;
  left: 70px;
  bottom: 10px;
}


.year {
  position: relative;
  width: 70px;
  text-align-last: center;
  left: -50px;
  top: 20px;
  color: rgb(85,86,90);
  background-color: white;
  font-family: Arial;
  cursor:pointer;
  content: '\25BC';
  border-radius: .25em;
}
.quarter {
  position: relative;
  left: 105px;
  top: -2px;
  text-align-last: center;
  color: rgb(85,86,90);
  background-color: white;
  cursor:pointer;
  border-radius: .25em;
}

.LOBs {
  position: relative;
  left: 80px;
  bottom: -8px;
  cursor:pointer;
}

.LOB {
  position: relative;
  top: 27px;
  right: 100px;
  text-align-last: center;
  width: 120px;
  color: rgb(85,86,90);
  background-color: white;
  cursor:pointer;
  border-radius: .25em;
}

.Portfolios {
  position: relative;
  left: 300px;
  bottom: 16px;
  cursor:pointer;
}
.portfolio {
  position: relative;
  top: 30px;
  right: 128px;
  width: 140px;
  text-align-last: center;
  color: rgb(85,86,90);
  background-color: white;
  cursor:pointer;
  border-radius: .25em;
}
.Products {
  position: relative;
  left: 530px;
  bottom: 37px;
  cursor:pointer;
}

.product {
  position: relative;
  top: 29px;
  right: 110px;
  width: 120px;
  text-align-last: center;
  color: rgb(85,86,90);
  background-color: white;
  cursor:pointer;
  border-radius: .25em;
}
.dashboardsubmit {
  position: relative;
  left: 1135px;
  bottom: 150px;
  width: 80px;
  color: white;
  background-color: rgb(85, 86, 90);
  border-block-end-color: black;
  border-radius: 4px;
  border-color: 1px black;
  padding: 4px 16px;
  text-align: center;
  text-align: left;
  cursor:pointer;
}
.dashboardsubmit:hover {
  background-color: #e87722;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dashboardsubmit:active {
  background-color: #e87722;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.ProductView2{
  float: right;
  position: relative;
  right: 0px;
  top: 5px;
}
.ToggleView {
    position: relative;
    top: 50px;
    left: -450px;
    float: right;
    border: 3px solid rgb(85,86,90);
    width: 300px;
    height: 70px;

}
.Aggr {
  position: relative;
    top: 30px;
    right: -30px;
    width: 90px;
    color: white;
    background-color: rgb(85, 86, 90);
    border-color: 1px black;
    border-block-end-color: black;
    float: left;
    border-radius: 4px;
    cursor: pointer;
}
.Aggr:hover {
  background-color: #e87722;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Aggr:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.FeatureLevel {
  position: relative;
    right: 30px;
    top: 30px;
    width: 110px;
    color: white;
    background-color: rgb(85, 86, 90);
    border-block-end-color: black;
    border-color: 1px black;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}
.FeatureLevel:hover {
  background-color: #e87722;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.FeatureLevel:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.colm {
  position: relative;
  left: 300px;
  top: -30px;
  float: left;
  width: 12%;
  padding: 8px;
  box-sizing: border-box;
}

.common {
  background: rgb(234, 170, 0);
  color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-size: smaller;
}

.common:hover,
.common {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.common .header {
  background-color: rgb(232, 119, 32);
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.common .header.header-green {
  background-color: rgb(255, 255, 254);
}

.common li {
  padding: 12px;
  border-bottom: 7px solid #eee;
  text-align: center;
}

@media (max-width: 500px) {
  .col {
    width: 100%;
  }
}

.feature {
  background: rgb(85, 86, 90);
  color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-size: smaller;
}

.feature:hover,
.feature {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.feature .header {
  background-color: rgb(85, 86, 90);
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.feature .header.header-green {
  background-color: rgb(255, 255, 254);
}

.feature li {
  padding: 12px;
  border-bottom: 7px solid #eee;
  text-align: center;
}


.Vel{
  position: relative;
    top: 240px;
    left: -460px;
    box-sizing: content-box;
    float: right;

}
.Ttv{
  position: relative;
    top: 240px;
    right: -180px;
    box-sizing: content-box;
    float: right;

}

.velocityheader{
  color: rgb(232, 119, 34);
  font-size: 15px;
  list-style-type: none;

}
.ttvheader{
  color: rgb(232, 119, 34);
  font-size: 15px;
  list-style-type: none;

  
}
.itemvel{
  list-style-type: none;
}
.itemttv{
  list-style-type: none;
}

.table {
  border-collapse: collapse;
  overflow: auto;
  align-self: center;
}


 .tableheaders{
    background-color:rgb(232, 119, 34);
  color: white;
  padding: 10px;
  text-align: center;
  border: 4px solid rgb(208,208,206);
  height: 40px;
  font-size: 18px;
  font-family: Arial;
 }
 .tabledata{
  padding: 10px;
  color: rgb(85,86,90);
  background-color:white;
  text-align: center;
  border: 4px solid rgb(208,208,206);
  font-size: smaller;
  word-wrap: break-word;
  width: 15%;
 }
 .tablegrey{
  padding: 10px;
  color: white;
  background-color:rgb(85, 86, 90);
  text-align: center;
  border: 4px solid rgb(208,208,206);
  font-size: smaller;
  word-wrap: break-word;
  width: 25%;
 }
 .tableheadersgrey{
  padding: 10px;
  color: white;
  background-color:rgb(85,86,90);
  text-align: center;
  border: 4px solid rgb(208,208,206);
  font-size: 18px;
  font-family: Arial;
 }


 
.scroll{
  overflow-y:scroll; 
  height:500px;
  position: relative;
}
.tableu{
  position: relative;
  left: 10px;
  overflow-y:scroll; 
  height:500px;
  margin-top:20px;
  float: left;
}

.avgttvviews{
  position: relative;
  right: 60px;
  bottom: 180px;
  float: right;
}

.Images{
  position: relative;
  float: right;
  align-items: center;
  bottom: 30px;
  
}
.commImage{
  position: relative;
  right: 860px;
}
.markImage{
  position: relative;
  right: 670px;
}
.effImage{
  position: relative;
  right: 490px;
}
.custImage{
  position: relative;
  right: 305px;
}
.futImage{
  position: relative;
  right: 115px;
}
.productviewtable{
  position: relative;
  vertical-align: text-top;
  width: 20%;
}
.portfolioviewtable{
  position: relative;
  vertical-align: text-top;
  width: 20%;
  right: -120px;
  top: 70px;
  float: none;
}
.PortfolioView{
  vertical-align: text-top;
  float: right;
  position: relative;  
  right: 160px;
  top: -80px;
}
.screentext{
  font-size: 15px;
  font-family: Arial;
  text-align: center;
  position: relative;
  bottom: -60px;
}
#portgraphs{
  float: right;
  position: relative;
  top: 150px;
  right: 150px;
  width: 900px;
  height: 700px
}

.uploadBulkDataButton{
  position: relative;
  left: -150px;
  bottom:-120px;
  width: 80px;
  color: white;
  background-color: #e87722;
  border-block-end-color: black;
  border-radius: 4px;
  padding: 4px 16px;
  text-align: center;
  text-align: left;
  cursor:pointer;
}
.uploadBulkDataButton:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.uploadBulkDataButton:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.uploadText{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 120px;
  font-size: 15px;
  right: -50px;
}
.form-control{
  position: relative;
  top: 50px;
  right: -40px;
  width: 280px;
  height: 20px;
  padding: 2px 1px ;
  border: 1px solid rgb(124, 124, 124);
  background-color: rgb(226, 226, 224);
  margin: 5;
  align-items: center;
  align-content: flex-start;
  
}
.optummmBulk{
  position: relative;
  align-items: center;
  width: 150px;
  top: 40px;
  right:10px
}
.uploadingForm{
  border: 2px solid rgb(232, 119, 34);
  padding: 2px 5px ;
  width: 400px;
  height: 300px;
  text-align: center;
  align-content: center;
  position: relative;
  top: 100px;
  left: 420px
}
.excelonly{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  top: 90px;
  right: 223px;
}

.HomeButtonIcon{
  position: relative;
  left: 130px;
  width: 30px;
  bottom: 37px;
  color: white;
}
.uploaddataview{
  border: 3px solid rgb(232, 119, 34);
  box-sizing: border-box;
  width: 100%;
  width: 400px;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 10px;
}
.uploaddatatext{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  bottom: -80px;
  font-size: 14px;
  right: 110px;
}

.btnn {
  width: 100%;
  min-width: 280px;
  color: #fffefe;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 8px;
  background: #e87722;
  cursor: pointer;
  position: relative;
  top: 100px;
}
.btnn:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnn:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.BVUpload {

  border: 3px solid rgb(232, 119, 34);
  box-sizing: border-box;
  width: 100%;
  width: 400px;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  bottom: 60px;

}
.optummmBV {
  position: relative;
  bottom: -20px;
  left: 80px;
  align-items: center;
  width: 150px;
}

.btnBV {
  width: 100%;
  min-width: 280px;
  color: #fffefe;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px black;
  border-radius: 8px;
  background: #e87722;
  cursor: pointer;
  position: relative;
  top: 100px;
}
.btnBV:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnBV:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.HeaderComponent{
  border: 3px solid rgb(85,86,90);
  width: 1300px;
  height: 40px;
  position: relative;
  bottom: 90px;
  background-color: rgb(85,86,90);
}
.dropdownsLobPortfolioProduct{
  border: 3px solid rgb(85,86,90);
  width: 700px;
  height: 101px;
  position: relative;
  left: 400px;
  bottom: 82px;
}