body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
}

.container {
  font-size: 28px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  top: 90px;
}

.loginForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.inputField {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #f39120;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.submitButton {
  padding-top: 16px;
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #fffefe;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #ffffff;
  border-radius: 8px;
  background: #e87722;
  cursor: pointer;
}

.btn:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.optummm {
  position: relative;
  bottom: 40px;
  left: 32px;
  align-items: center;
}

.optummmlogin {
  position: relative;
  bottom: 10px;
  left: 70px;
  align-items: center;
}

.Welcome {
  position: relative;
  right: 550px;
  bottom: 85px;
  font-size: 25px;
  color: #555;
  font-family: auto;
}

.logoutbutton {
  background: #e87722;
  color: #fffefe;
  position: relative;
  text-align: center;
  left: 580px;
  bottom: 105px;
  min-width: 70px;
  width: 5%;
  font-size: 14px;
  border-radius: 8px;
  padding: px 17px;
  text-align: left;
}

.col {
  position: relative;
  top: -20px;
  left: 150px;
  float: left;
  width: 17%;
  padding: 2px;
  box-sizing: content-box;
}

.comm {
  background: rgb(85, 86, 90);
  color: rgb(255, 255, 255);
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.comm:hover,
.comm {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.comm .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
}

.comm .header.header-green {
  background-color: rgb(255, 255, 254);
}

.comm li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 10px;
}

.comm .MRKPI {
  background-color: #f4f4f4;
  font-size: 20px;
  color: #555;
}

@media (max-width: 500px) {
  .col {
    width: 100%;
  }
}

.mark {
  background: rgb(232, 119, 34);
  color: rgb(255, 255, 255);
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.mark:hover,
.mark {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.mark .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
}

.mark .header.header-green {
  background-color: rgb(255, 255, 254);
}

.mark li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 10px;
}

.mark .MRKPI {
  background-color: #f4f4f4;
  font-size: 20px;
  color: #555;
}

.effi {
  background: rgb(115, 150, 0);
  color: rgb(255, 255, 255);
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.effi:hover,
.effi {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.effi .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
}

.effi .header.header-green {
  background-color: rgb(255, 255, 254);
}

.effi li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 10px;
}

.effi .MRKPI {
  background-color: #f4f4f4;
  font-size: 20px;
  color: #555;
}

.cust {
  background: rgb(230, 170, 0);
  color: rgb(255, 255, 255);
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.cust:hover,
.cust {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.cust .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
}

.cust .header.header-green {
  background-color: rgb(255, 255, 254);
}

.cust li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 10px;
}

.cust .MRKPI {
  background-color: #f4f4f4;
  font-size: 20px;
  color: #555;
}

.futu {
  background: rgb(162, 43, 56);
  color: rgb(255, 255, 255);
  list-style-type: none;
  border: 1px solid #555;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.futu:hover,
.futu {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.futu .header {
  background-color: rgb(255, 255, 255);
  color: rgb(232, 119, 34);
  font-size: 25px;
}

.futu .header.header-green {
  background-color: rgb(255, 255, 254);
}

.futu li {
  padding: 15px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 10px;
}

.futu .MRKPI {
  background-color: #f4f4f4;
  font-size: 20px;
  color: #555;
}

.viewby {
  position: relative;
  left: 175px;
  padding: 15px;
  top: -5px;
  cursor:pointer;

}


.year {
  position: relative;
  width: 70px;
  text-align-last: center;
  left: -110px;
  top: 30px;
  color: white;
  background-color: #5c6664;
  font-family: Arial;
  cursor:pointer;
  content: '\25BC';
  border-radius: .25em;
}
.year:after {
  content: '\25BC';
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}

.quarter {
  position: relative;
  left: -95px;
  top: 30px;
  text-align-last: center;
  color: white;
  background-color: #5c6664;
  cursor:pointer;
  border-radius: .25em;
}

.LOBs {
  position: relative;
  left: 450px;
  bottom: 40px;
  cursor:pointer;
}

.LOB {
  position: relative;
  top: 27px;
  right: 100px;
  text-align-last: center;
  width: 120px;
  color: white;
  background-color: #5c6664;
  cursor:pointer;
  border-radius: .25em;
}

.Portfolios {
  position: relative;
  left: 680px;
  bottom: 65px;
  cursor:pointer;
}
.portfolio {
  position: relative;
  top: 30px;
  right: 128px;
  width: 140px;
  text-align-last: center;
  color: white;
  background-color: #5c6664;
  cursor:pointer;
  border-radius: .25em;
}
.Products {
  position: relative;
  left: 925px;
  bottom: 85px;
  cursor:pointer;
}

.product {
  position: relative;
  top: 29px;
  right: 110px;
  width: 120px;
  text-align-last: center;
  color: white;
  background-color: #5c6664;
  cursor:pointer;
  border-radius: .25em;
}
.dashboardsubmit {
  position: relative;
  left: 1100px;
  bottom: 80px;
  width: 80px;
  color: white;
  background-color: #e87722;
  border-block-end-color: black;
  border-radius: 8px;
  padding: 12px 18px;
  text-align: center;
  text-align: left;
  cursor:pointer;
}
.dashboardsubmit:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.dashboardsubmit:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.ToggleView {
  position: relative;
    top: 249px;
    left: -430px;
    float: right;
}
.Aggr {
  position: relative;
    top: 30px;
    right: -30px;
    width: 90px;
    color: white;
    background-color: #e87722;
    border-block-end-color: black;
    float: left;
}
.Aggr:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Aggr:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.FeatureLevel {
  position: relative;
    right: 30px;
    top: 30px;
    width: 110px;
    color: white;
    background-color: #e87722;
    border-block-end-color: black;
    float: right;
}
.FeatureLevel:hover {
  background-color: #555;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.FeatureLevel:active {
  background-color: #e87722;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.colm {
  position: relative;
  left: 300px;
  top: -30px;
  float: left;
  width: 12%;
  padding: 8px;
  box-sizing: border-box;
}

.common {
  background: rgb(234, 170, 0);
  color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-size: smaller;
}

.common:hover,
.common {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.common .header {
  background-color: rgb(232, 119, 32);
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.common .header.header-green {
  background-color: rgb(255, 255, 254);
}

.common li {
  padding: 12px;
  border-bottom: 7px solid #eee;
  text-align: center;
}

@media (max-width: 500px) {
  .col {
    width: 100%;
  }
}

.feature {
  background: rgb(85, 86, 90);
  color: rgb(255, 255, 255);
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  font-size: smaller;
}

.feature:hover,
.feature {
  box-shadow: 0 10px 15px 0 rgb(219, 218, 214);
}

.feature .header {
  background-color: rgb(85, 86, 90);
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.feature .header.header-green {
  background-color: rgb(255, 255, 254);
}

.feature li {
  padding: 12px;
  border-bottom: 7px solid #eee;
  text-align: center;
}


.Vel{
  position: relative;
    top: 240px;
    left: -460px;
    box-sizing: content-box;
    float: right;

}
.Ttv{
  position: relative;
    top: 240px;
    right: -180px;
    box-sizing: content-box;
    float: right;

}

.velocityheader{
  color: rgb(232, 119, 34);
  font-size: 15px;
  list-style-type: none;

}
.ttvheader{
  color: rgb(232, 119, 34);
  font-size: 15px;
  list-style-type: none;

  
}
.itemvel{
  list-style-type: none;
}
.itemttv{
  list-style-type: none;
}

.table {
  border-collapse: collapse;
  overflow: auto;
  align-self: center;
}


 .tableheaders{
    background-color:rgb(232, 119, 34);
  color: white;
  padding: 10px;
  text-align: center;
  border: 4px solid white;
  
 }
 .tabledata{
  padding: 10px;
  color: rgb(51, 51, 51);
  background-color:rgb(234, 170, 0);
  text-align: center;
  border: 4px solid white;
  font-size: smaller;

 }
 .tablegrey{
  padding: 10px;
  color: white;
  background-color:rgb(85, 86, 90);
  text-align: center;
  border: 4px solid white;
  font-size: smaller;

 }
 .tableheadersgrey{
  padding: 10px;
  color: white;
  background-color:#555;
  text-align: center;
  border: 4px solid white;
 }


 
.scroll{
  overflow-y:scroll; 
  height:500px;
  position: relative;
}
.tableu{
  position: relative;
  left: 70px;
  overflow-y:scroll; 
  height:500px;
  margin-top:20px;
}

.avgttvviews{
  position: relative;
  right: 350px;
}


